<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension point="org.eclipse.ui.menus">
   	<menuContribution
	    locationURI= "popup:org.eclipse.ui.popup.any">
	    <menu 
	    	id="org.plugin.refactoringassistant" label="Refactoring Assistant"
	    	 icon="icons/sample.gif">
	    </menu>
	 </menuContribution>
    <menuContribution
          allPopups="true"
          locationURI="popup:org.plugin.refactoringassistant">
      <command commandId="returnnullfix.convert"
        label="Fix return null" style="push">
	        <visibleWhen>
		   		<or>
				    <with variable="activePartId">
				      <equals value="org.eclipse.jdt.ui.CompilationUnitEditor" />
				    </with>
				    <with variable="activeMenuSelection">
				      <iterate ifEmpty="false" operator="and">
				        <or>
				          <adapt type="org.eclipse.jdt.core.ICompilationUnit" />
				        </or>
				      </iterate>
				    </with>
			  </or>
	       </visibleWhen> 
      </command>
    </menuContribution>
  </extension>
  
  <extension point="org.eclipse.ui.commands">
    <command defaultHandler="org.plugin.refactoringassistant.handlers.FixReturnNullHandler"
      id="returnnullfix.convert" name="Refactoring Assistant">
    </command>
  </extension>

</plugin>
